.headContainer,
.upperBodyContainer{
    background: #1f2937;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.headContainer {
    justify-content: space-between;
    border-bottom: 3px solid #18212e;
}

.logo {
    color: white;
    font-size: 30px;
}

.headerLinks {
    color: #ccd1da;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.upperBodyContainer {
    display: flex;
    justify-content: space-around;
}

.upperBodyTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.signUpButton {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-style: italic;
    height: 40px;
    width: 300px;
    align-self: center;
}

.upperBodyTextTitle {
    color: white;
}

.upperBodyTextSubtitle {
    color: #ccd1da;
}

.typesOfBeans {
    margin: 10px;
    width: 500px;
    height: auto;
    padding-bottom: 30px;
}

.informationContainerTitle {
    font-size: 36px;
    text-align: center;
}

.informationPicsAndDescription{
    display: flex;
    justify-content: space-evenly;
}

.infoPic {
    width: 250px;
    height: 250px;
    border: 5px groove black;
}

.description {
    text-align: center;
    font-size: 18px;
}

.quoteContainer {
    background: #ccd1da;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.quoteAtr {
    font-size: 14px;
}